@{
    ViewData["Title"] = "Search";
}
<h2>@ViewData["Title"]</h2>

<div class="col-md-3">
    <div class="form-area">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Search For
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    In
                </label>
                <select id="inputState" class="form-control">
                    <option selected>Bank</option>
                    <option>User</option>
                    <option>Session</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    API Method
                </label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Known Error
                </label>
            </div>
            <p></p>
            <label>Secondary Methods</label>
            <div class="form-check">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                            </td>
                            <td>
                                <input type="email" class="form-control" id="exampleInputEmail1">
                            </td>
                            <td>
                                <select id="inputState" class="form-control">
                                    <option selected>Bank</option>
                                    <option>User</option>
                                    <option>Session</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                            </td>
                            <td>
                                <input type="email" class="form-control" id="exampleInputEmail1">
                            </td>
                            <td>
                                <select id="inputState" class="form-control">
                                    <option selected>Bank</option>
                                    <option>User</option>
                                    <option>Session</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                            </td>
                            <td>
                                <input type="email" class="form-control" id="exampleInputEmail1">
                            </td>
                            <td>
                                <select id="inputState" class="form-control">
                                    <option selected>Bank</option>
                                    <option>User</option>
                                    <option>Session</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-default">
                Submit
            </button>
        </form>
    </div>

    <div class="search-summary">
        <h3>Results Summary</h3>
        <p>
            Search Returned: 1209381 results <br />
            Results had 345 Errors <br />
            <br />
            Other Information:
        </p>
    </div>
</div>
<div class="col-md-5">
    <div class="search-main-table">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>
                        User ID
                    </th>
                    <th>
                        Bank Number
                    </th>
                    <th>
                        API Method
                    </th>
                    <th>
                        Session ID
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        22222
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        1000
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        2
                    </td>
                    <td>
                        33333
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        1001
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        3
                    </td>
                    <td>
                        22222
                    </td>
                    <td>
                        02/04/2012
                    </td>
                    <td>
                        1002
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        4
                    </td>
                    <td>
                        44444
                    </td>
                    <td>
                        03/04/2012
                    </td>
                    <td>
                        1003
                    </td>
                </tr>
                <tr class="danger">
                    <td>
                        5
                    </td>
                    <td>
                        22222
                    </td>
                    <td>
                        04/04/2012
                    </td>
                    <td>
                        1004
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        33333
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        1005
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        7
                    </td>
                    <td>
                        22222
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        1006
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        8
                    </td>
                    <td>
                        44444
                    </td>
                    <td>
                        02/04/2012
                    </td>
                    <td>
                        1007
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        9
                    </td>
                    <td>
                        33333
                    </td>
                    <td>
                        03/04/2012
                    </td>
                    <td>
                        1008
                    </td>
                </tr>
                <tr class="danger">
                    <td>
                        10
                    </td>
                    <td>
                        22222
                    </td>
                    <td>
                        04/04/2012
                    </td>
                    <td>
                        1009
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    <div class="search-secondary-table">
        <div style="overflow-x:auto;">
            <table class="table table-bordered">
                <tr>
                    <th scope="col">RMDID</th>
                    <th scope="col">Begin Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">RequestDetail</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td> 11:09:47:967</td>
                    <td> 11:09:47:967</td>
                    <td>Hacked</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:00:12</td>
                    <td>13:09:47:967</td>
                    <td>Error</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>11:09:47:967</td>
                    <td>11:09:47:967</td>
                    <td>404</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="details-view">
        <p>
            Not applicable for this search
        </p>
    </div>
</div>
